.styled-table {
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 0.9em;
  font-family: sans-serif;
  min-width: 400px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  margin-left: auto;
  margin-right: auto;
  counter-reset: rowNumber;
}
.styled-table thead tr {
  background-color: #c1c1c1;
  text-align: center;
  vertical-align: text-bottom;
}
.styled-table th,
.styled-table td {
    padding: 12px 15px;
    vertical-align: bottom;

}
.styled-table tbody tr {
  border-bottom: 1px solid #dddddd;
  text-align: center;
}
.styled-table td:first-child:before {
  counter-increment: rowNumber;
  content: "# " counter(rowNumber);;
}
.styled-table tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

.styled-table tbody tr:last-of-type {
  border-bottom: 2px solid #c1c1c1;
}
.styled-table tbody tr.active-row {
  font-weight: bold;
  color: #9d9d9d;
}